<div class="card" style="width: 10rem;">
    <img src="/images/<%= imgUrl %>" alt="" class="card-img-top" width="10">
    <div class="card-body">
        <h5 class="card-title">
            <%= name %> - <%= price %>
        </h5>
        <a href="/products/<%= id %>" class="btn btn-primary">ürüne git</a>
        <h5 class="card-text">
            <%= name %> - <%= price %>
        </h5>
    </div>
</div>